@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CalifornianSignature';
  src: url('/fonts/CalifornianSignature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Talina';
  src: url('/fonts/Talina.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}